model/conection.php
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/montrer/v17/.wsuo
.vs/montrer/FileContentIndex/cf25339e-e316-468b-b4d6-478d2777437a.vsidx
.vs/montrer/FileContentIndex/b8a51e86-b6d7-4f98-9e83-367790379912.vsidx
/.vscode
