<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1">
          <match url="^([-a-zA-Z0-9/_&amp;=]+)$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?pagina={R:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\unimontrer.edu.mx\tmp" />
  </system.web>
</configuration>